.focus {
    transition: transform 0.3s;
  }
  
  .focus:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-size: 2em;
    font-weight: 700;
  }
  
  .image-style {
    width: 3em;
  }
  
  
  .font-details-b {
    font-size: 3em;
    font-weight: 500;
    color: #ffffff;
  }
  
.tech-skills{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}


@media (min-width: 1025px) {
  .tech-skills-skill {
      width: 46% ;
  }
}

@media (max-width: 1024px) {
  .tech-skills-skill{
    width: 54% ;
  }
}

/* .tech-skills-skill{
  width: 44%;
} */