.main{
    max-width: 850px;
    margin:0px auto;
}
.container {
    display: flex;
    justify-content: space-around;
    margin : 18px 0px;
    /* width: 100%; */
    /* border-bottom: 1px solid gray; */
}

.detailes{
    display: flex;
    justify-content: space-between;
    width: 128%;
}
img {
    width:30%;
    height:30%;
    margin-top: 25px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom :10px;

}